
<h2>Teams</h2>
<div class="title-team-row row hidden-xs">
  <div class="col-sm-3 hidden-xs">Team Name</div>
  <div class="col-sm-3 hidden-xs">Coach</div>
  <div class="col-sm-3 hidden-xs">League</div>
</div>

<% @teams.each do |t| %>
  <div class="team-row row">
    <div class="col-xs-6 hidden-sm hidden-md hidden-lg">Team Name</div><div class="col-sm-3 col-xs-6"><%= link_to t.name, t %></div>
    <div class="col-xs-6 hidden-sm hidden-md hidden-lg">Coach</div><div class="col-sm-3 col-xs-6"><%= link_to t.user.username, t.user %></div>
    <%= form_tag league_add_path, :method => 'get' do %>
    <div class="col-xs-6 hidden-sm hidden-md hidden-lg">Player</div>
    <%= hidden_field(nil, :team_id, :value => t.id) %>
      <div class="col-sm-3 col-xs-6">
        <% if @league %>
          <%= collection_select(nil ,:league_id ,@current_user.leagues, :id, :name, {:selected => @league.id}) %>
        <% else %>
          <%= collection_select(nil ,:league_id ,@current_user.leagues, :id, :name, {:prompt => 'Select a League'}) %>
        <% end %>
      </div>
      <div class="col-sm-3 col-xs-12">
        <%= submit_tag "Add #{t.name} to League", :name => nil, class:"btn-primary btn-sm btn-search btn-team-search" %>
      </div>
    <% end %>
  </div>
<% end %>
