

<div class="col-lg-12">
    <h2>Teams</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-hover team-table">
            <thead>
                <tr>
                    <th>Team Name</th>
                    <th>Coach</th>
                </tr>
            </thead>
            <tbody>
              <% @teams.each do |t| %>
                <tr>
                    <td><%= link_to "#{t.name}", t %></td>
                    <td><%= link_to "#{t.user.username}", t.user %></td>
                </tr>
                <% end %>
                <tr>
            </tbody>
        </table>
    </div>
</div>
<div class="col-lg-12">
    <h2>Tournaments</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-hover team-table">
            <thead>
                <tr>
                    <th>Team Name</th>
                    <th>Tournament</th>
                    <th>Tournament Start Date</th>
                    <th>Coach</th>
                </tr>
            </thead>
            <tbody>
              <% @tournament_teams.each do |t| %>
                <tr>
                    <td><%= link_to "#{t.name}", t %></td>
                    <td><%= link_to "#{t.tournament.name}", t.tournament %></td>
                    <td><%= "#{t.tournament.start_time.strftime("%b %d, %Y")}" %></td>
                    <td><%= link_to "#{t.user.username}", t.user %></td>
                </tr>
                <% end %>
                <tr>
            </tbody>
        </table>
    </div>
</div>
