<div class="container-fluid  body-container">
  <h1>Which Team would you like to add?</h1>
  <div class="all-teams-rows row">
    <% @teams.each do |t| %>
      <div class="team-row row">
        <div class="col-xs-3">
          <%= link_to "#{t.name}", t %></p>
        </div>
        <%= form_for @team, url: clone_team_path do |f| %>
          <%= f.hidden_field :original_id, value:t.id %>
          <%= f.collection_select(:tournament_id ,Tournament.all, :id, :name, {:prompt => 'Please select a Tournament'}) %>
          <%= f.submit "Add Team" %>
        <% end %>
      </div>
    <% end %>
  </div>
  </ul>
</div>
