<h2 class="text-center"> Search for Team </h2>
<div class="container">
  <% if @player %>
    <%= form_tag team_search_results_path, :method => 'get' do %>

      <div class="col-xs-6 col-xs-offset-3 margin-bottom-15">
        <% if @player %>
          <%= collection_select(nil ,:player_id ,@current_user.players, :id, :full_name, {:selected => @player.id, :prompt => 'Select a Player'}) %>
        <% else %>
          <%= collection_select(nil ,:player_id ,@current_user.players, :id, :full_name, {:prompt => 'Select a Player'}) %>
        <% end %>
      </div>

      <div class="col-xs-6 col-xs-offset-3">
        <%= text_field_tag :search, params[:search] %>
      </div>
      <div class="col-xs-6 col-xs-offset-3">
        <%= submit_tag "Search Teams by Name", :name => nil, class:"btn-primary btn btn-search" %>
      </div>
    <% end %>
  <% elsif @league %>
    <%= form_tag team_search_results_path, :method => 'get' do %>
      <div class="col-xs-6 col-xs-offset-3 margin-bottom-15">
        <% if @league %>
          <%= collection_select(nil ,:league_id ,@leagues, :id, :name, {:selected => @league.id}) %>
        <% else %>
          <%= collection_select(nil ,:league_id ,@leagues, :id, :name, {:prompt => 'Select a League'}) %>
        <% end %>
      </div>

      <div class="col-xs-6 col-xs-offset-3">
        <%= text_field_tag :search, params[:search] %>
      </div>
      <div class="col-xs-6 col-xs-offset-3">
        <%= submit_tag "Search Teams by Name", :name => nil, class:"btn-primary btn btn-search" %>
      </div>
    <% end %>
  <% end %>


</div>
