
<div class="container-fluid  body-container">
  <div class="col-xs-12 col-md-4">
    <% if @team.team_logo %>
      <%= image_tag attachment_url(@team, :team_logo), class:"img-responsive center-block team-logo" %>
    <% else %>
      <%= image_tag("team-default.png", class:"img-responsive center-block team-logo") %>
    <% end %>
  </div>
  <div class="col-xs-12 col-md-8">
    <h1>Team: <%= "#{@team.name}" %> </h1>
    <h4>Coach: <%= link_to "#{@team.user.last_name}, #{@team.user.first_name}" , @team.user %> </h4>
    <h4>Players:</h4>
    <ul>
      <% @team.player_participants.each do |p| %>
        <div class="row player-row">
          <div class="col-xs-6">
            <%= link_to p.player.full_name, p.player %>
          </div>
          <div class="col-xs-6">
            <% if current_user == p.player.user || current_user == @team.user %>
              <%= link_to "Remove", leave_team_path(id:p.id), class:"btn-sm btn-primary" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </ul>
    <% if @team.id == @team.original_id %>
      <h4>Tournaments:</h4>
      <ul>
        <% @team.tournaments.each do |t| %>
          <li><%= link_to t.name, t %></li>
        <% end %>
      </ul>
    <% end %>
    <% if current_user.following?(@team) %>
      <h4>Games:</h4>
      <ul>
        <% if @team.id == @team.original_id %>
          <% @team.games.take(5).each do |g| %>
            <li><%= link_to "#{g.name} on #{g.begin_time.strftime('%a %b %e, %l:%M %P ')}", g %></li>
          <% end %>
        <% else %>
          <% @team.games.take(5).each do |g| %>
            <li><%= link_to "#{g.name} on #{g.begin_time.strftime('%a %b %e, %l:%M %P ')}", g %></li>
          <% end %>
        <% end %>
      </ul>

    </div>

      <%= render "announces/announces" %>
      <%= link_to "Announcements", team_announces_path(@team), class:"btn btn-primary" %>
    <% end %>

  <% if current_user == @team.user %>
    <%= link_to "Add Player", search_all_players_path, class:"btn btn-primary" %>
    <%= link_to "Update Team", edit_team_path(@team), class:"btn btn-primary" %>
  <% end %>

</div>
