
<div class="container">
  <h1>Team: <%= "#{@team.name}" %> </h1>
  <h4>Coach: <%= link_to "#{@team.user.last_name}, #{@team.user.first_name}" , @team.user %> </h4>
  <h4>Players:</h4>
  <ul>
    <% @team.players.each do |p| %>
      <li><%= link_to "#{p.last_name}, #{p.first_name}", p %></li>
    <% end %>
  </ul>
  <%= link_to "Add Player", all_players_path, class:"btn btn-primary" %>
  <%= link_to "Announcements", team_announces_path(@team), class:"btn btn-primary" %>
  <% if current_user == @team.user %>
    <%= link_to "Update Team", edit_team_path(@team), class:"btn btn-primary" %>
  <% end %>
</div>
