<h1>Messages</h1>
<div class="container-fluid inbox-container">
  <div class="row message-row-header">
    <div class="col-xs-3">
      From<br>
    </div>
    <div class="col-xs-6">
      Subject
    </div>
    <div class="col-xs-3">
      sent
  </div>
</div>
  <% @messages.each do |m| %>
    <%= link_to m do %>
      <% unless m.message_reads.where("user_id = #{current_user.id}").length > 0 && !m.message_reads.where("user_id = #{current_user.id}").first.read %>
        <div class="row message-row-read">
      <% else %>
        <div class="row message-row-unread">
      <% end %>
        <div class="col-xs-3">
          <%= m.from.username %><br>
        </div>
        <div class="col-xs-6">
          <%= m.subject %>
        </div>
        <div class="col-xs-3">
          <%= m.created_at.strftime('%a %b %e, %l:%M %P ') %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<div class="col-xs-offset-6 col-sm-offset-8 col-md-offset-9 reply-row">
  <%= link_to "New Message", new_message_path, class:"btn btn-primary" %>
</div>
