<div class="container-fluid  body-container body-container-new">
  <% if @reply_message %>
  <div class="message-container">
    <div class="row message-header">
      <div class="col-xs-5">
        <h3 class="text-left"><%= @reply_message.subject %></h3><p>To: <%= @reply_message.to_users_list %> </p>
      </div>
      <div class="col-xs-7">
        <p class="sent-time text-right"><%= @reply_message.created_at.strftime('%a %b %e, %l:%M %P ') %></p>
      </div>
    </div>
      <h5><%= simple_format(@reply_message.content) %></h5>
  </div>
  <% end %>
  <div class="col-lg-6 col-lg-offset-3">
    <%= bootstrap_form_for(@message) do |f| %>
      <%= f.text_field :to_users_list, label:"To" %>
      <%= f.text_field :subject %>
      <% if @team_request %>
        <%= f.text_area :content, value:"#{@player.full_name} would like to join #{@team.name}.  You can click on the link below to accept or view the player.  Thank you!" %>
        <%= f.hidden_field :player_id, :value => @player.id %>
        <%= f.hidden_field :team_id, :value => @team.id %>
        <%= f.hidden_field :team_request, :value => true %>
      <% else %>
        <%= f.text_area :content %>
      <% end %>
      <% if @reply_message %>
        <%= f.hidden_field :index_message_id, :value => @reply_message.id %>
      <% end %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
