<div class="container-fluid  body-container">
  <% if @reply_message %>
    <div class="row message-row"
      <h3>From: <%= @reply_message.from.username %> </h3>
      <h3>To: <%= @reply_message.to_users_list %> </h3>
      <h5>Subject:<%= @reply_message.subject %></h5>
      <p><%= simple_format(@reply_message.content) %></p>
    </div>
  <% end %>
  <div class="col-lg-6 col-lg-offset-3">
    <%= bootstrap_form_for(@message) do |f| %>
      <%= f.text_field :to_users_list, label:"To" %>
      <%= f.text_field :subject %>
      <%= f.text_area :content %>
      <% if @reply_message %>
        <%= f.hidden_field :index_message_id, :value => @reply_message.id %>
      <% end %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
