<div class="container-fluid">
  <% @related_messages.each do |m| %>
    <div class="message-container">
      <div class="row message-header">
        <div class="col-xs-5">
          <h3 class="text-left"><%= m.subject %></h3><p>To: <%= m.to_users_list %> </p>
        </div>
        <div class="col-xs-7">
          <p class="sent-time text-right"><%= m.created_at.strftime('%a %b %e, %l:%M %P ') %></p>
        </div>
      </div>
        <h4><%= simple_format(m.content) %></h4>
    </div>
  <% end %>
  <div class="message-container">
    <div class="row message-header">
      <div class="col-xs-5">
        <h3 class="text-left"><%= @message.subject %></h3><p>To: <%= @message.to_users_list %> </p>
      </div>
      <div class="col-xs-7">
        <p class="sent-time text-right"><%= @message.created_at.strftime('%a %b %e, %l:%M %P ') %></p>
      </div>
    </div>
      <h4><%= simple_format(@message.content) %></h4>

  </div>
  <div class="reply-row">
    <%= link_to "Reply", new_message_path(id:@message.id), class:"btn btn-primary pull-left left-margin-5" %>
    <% if @message.team_request && @team.user == current_user %>
      <%= link_to "View Player", player_path(@player), class:"btn btn-warning pull-left left-margin-5" %>
      <%= form_for @player_participant do |f| %>
        <%= f.hidden_field :player_id, value: @player.id %>
        <%= f.hidden_field :team_id, value: @team.original_id %>
        <%= f.submit "Add To Team", class:"btn btn-success pull-left left-margin-5" %>
      <% end %>
    <% end %>
    <%= link_to "Back to Inbox", messages_path, class:"btn btn-primary pull-left left-margin-5" %>
  </div>
</div>
