
<div class="container-fluid  body-container">
  <h1><%= "#{@league.name}" %> </h1>
  <h3>Tournaments</h3>
  <ul>
    <% @league.tournaments.each do |t| %>
      <li><%= link_to "#{t.name}", t %></li>
    <% end %>
  </ul>
  <h3>Teams</h3>
  <% if @league.teams.length > 0 %>
    <div>
      <% @league.league_ties.each do |t| %>
        <div class="row margin-bottom-15">
          <div class="col-xs-4">
            <%= link_to "#{t.team.name}", t.team %>
          </div>
          <div class="col-xs-4">
            <%= link_to "#{t.team.user.full_name}", t.team.user %>
          </div>
          <div class="col-xs-4">
            <%= link_to "Remove Team from League", league_ty_path(t), method:'delete', class:"btn-sm btn-danger" %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>  Adding Teams makes them available to be added to your tournaments. </p>
  <% end %>

  <h3>Locations</h3>
  <% if @league.locations.length > 0 %>
    <ul>
      <% @league.locations.each do |t| %>
      <div class="row location-row">
        <div class="col-sm-4 col-xs-12">
          <%= link_to "#{t.name}", t %>
        </div>
          <% if current_user == @league.user %>
            <%= link_to "Edit", edit_location_path(t), class:"btn-sm btn-warning"  %>
            <%= link_to "Remove", location_path(t), method:'delete', class:"btn-sm btn-danger" %>
          <% end %>
      </div>
      <% end %>
    </ul>
  <% else %>
    <p>  Adding locations allows the App to check if a court is being used when you create a game.  It also creates a link to the site in Google maps for users.  Alhthough not required, it is highly recommended to create locations!</p>
  <% end %>
  <%= render 'announces/announces' %>
  <div class=" row text-center">
    <%= link_to "Add Tournament", new_tournament_path, class:"btn btn-primary" %>
    <%= link_to "Announcements", league_announces_path(@league), class:"btn btn-primary" %>
    <% if current_user == @league.user %>
      <%= link_to "Update League", edit_league_path(@league), class:"btn btn-primary" %>
      <%= link_to "Add Locations", new_location_path, class:"btn btn-primary" %>
      <%= link_to "Create New Team", new_team_path, class:"btn btn-primary" %>
      <%= link_to "Add Existing Team", search_all_teams_path(league_id:@league.id), class:"btn btn-primary" %>
    <% end %>
  </div>
</div>
