<h1>You have an Message from <%= @message.from.username %> in LeagueKit!</h1>

<%= simple_format(@message.content) %>

<p><%= @message.from.username %></p>

<% if @message.team_request %>
  <%= link_to "View Player", player_url(id:@message.player_id), class:"btn btn-warning" %>
  <%= link_to "Accept Player", add_player_url(player_id:@message.player_id, team_id:@team_id), class:"btn btn-success" %>
<% end %>

<%= link_to "View Message Here" ,message_url(@message) %>
