<div class="container-fluid  body-container">
  <div class="col-lg-6 col-lg-offset-3">
    <%= bootstrap_form_for(@user) do |f| %>
      <%= f.text_field :username %>
      <%= f.text_field :first_name %>
      <%= f.text_field :last_name %>
      <%= f.email_field :email %>
      <%= f.check_box :email_optout, label:"I do not want to receive email notifications." %>
      <%= f.password_field :password %>
      <%= f.password_field :password_confirmation %>
      <%= f.submit %>
    <% end %>

</div>
