<div class="container-fluid  body-container">

  <h1 class="text-center"><%= "#{@user.last_name}, #{@user.first_name}" %></h1>
  <div class="col-lg-3 col-sm-6">
    <h4 class="text-center">Teams</h4>
    <%= render "teams/team" %>
    <% if @user == current_user %>
      <%= link_to "New Team", new_team_path, class:"btn btn-primary center-block" %>
    <% end %>
  </div>
  <div class="col-lg-3 col-sm-6">
    <h4 class="text-center">Tournaments Participating In</h4>
    <% @tournaments.each do |t| %>
      <%= link_to t.tournament.name, t, class:"list-link btn center-block"  %>
    <% end %>
  </div>
  <div class="col-lg-3 col-sm-6">
  <h4 class="text-center">Tournaments Organized</h4>
    <% @owned_tournaments.each do |t| %>
      <%= link_to t.name, t, class:"list-link btn center-block" %>
    <% end %>
    <% if @user == current_user %>
      <%= link_to "New Tournament", new_tournament_path, class:"btn btn-primary center-block" %>
    <% end %>
  </div>
  <div class="col-lg-3 col-sm-6">
    <h4 class="text-center">Players</h4>
    <%= render "players/player" %>
    <% if @user == current_user %>
      <%= link_to "New Player", new_player_path, class:"btn btn-primary center-block" %>
    <% end %>
  </div>
</div>
