<div class="container-fluid  body-container">
  <div class="col-lg-6 col-lg-offset-3">
    <%= bootstrap_form_for(@tournament) do |f| %>
      <%= f.text_field :name %>
      <%= f.datetime_select :start_time %>
      <%= f.datetime_select :end_time %>
      <%= f.text_field :ref_buffer, label:"Time allowed between referee start times(minutes)" %>
      <%= f.text_field :location_buffer, label:"Time allowed between game start times on the same court(minutes)" %>
      <%= f.text_field :team_buffer, label:"Time allowed between game start times for a team(minutes)" %>
      <%= f.collection_select(:collect_team_ids ,@teams, :id, :name, {:include_blank =>  "N/A", :selected => @tournament.teams.collect{|r| r.id}, label:"Select Teams" }, {:multiple => true})%>


      <%= f.collection_select(:league_id ,@leagues, :id, :name, label:"Select a League") %>

      <div style="position:relative;" class="col-xs-5 margin-10">
        <div class="btn btn-default btn-file">
        <%= f.attachment_field :tournament_logo, href:'javascript:;', style:'position:absolute;z-index:2;top:0;left:0;filter: alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";opacity:0;background-color:transparent;color:transparent;', size:"40", onchange:'$("#upload-file-info").html($(this).val());' %>
            Upload Tournament Logo
        </div>
      </div>
      <div class="col-xs-7">
        <span class='label label-info' id="upload-file-info"></span>
      </div>
      <div class="col-xs-12">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
</div>
