
<div class="container-fluid  body-container">
  <h1><%= "#{@tournament.name}" %> </h1>
  <ul>
    <% @tournament.teams.each do |t| %>
      <li><%= link_to "#{t.name}", t %></li>
    <% end %>
  </ul>
  <% if @tournament.user == current_user %>
    <%= link_to "Add Team", all_teams_path, class:"btn btn-primary" %>
    <%= link_to "Add Game", new_game_path(tournament_id:@tournament.id), class:"btn btn-primary" %>
    <%= link_to "Announcements", tournament_announces_path(@tournament), class:"btn btn-primary" %>
    <%= link_to "Message All Coaches", new_message_path(coaches:@tournament.coaches), class:"btn btn-primary" %>
    <%= link_to "Message All Referees", new_message_path(referees:@tournament.id), class:"btn btn-primary" %>
  <% end %>
</div>
