
<div class="container-fluid  body-container">
  <h1><%= "#{@tournament.name}" %> </h1>
  <h4>Participating Teams</h4>
  <div class="row">
    <ul>
      <% @tournament.teams.each do |t| %>
        <div class="">
          <div class="col-md-4 col-xs-8 teams-row">
            <%= link_to "#{t.name}", t %>
          </div>
          <div class="col-md-2 col-xs-4 teams-row">
            <%= link_to "Remove", t, method:'delete', class:"btn-sm btn-danger" %>
          </div>
        </div>
      <% end %>
    </ul>
  </div>
  <h4>Games</h4>
  <ul>
    <% @tournament.games.each do |g| %>
      <li><%= link_to "#{g.name}", g %></li>
    <% end %>
  </ul>
    <%= render "announces/announces" %>

  <% if @tournament.user == current_user %>
    <%= link_to "Add Team", all_teams_path(tournament_id:@tournament.id), class:"btn btn-primary" %>
    <%= link_to "Add Game", new_game_path(tournament_id:@tournament.id), class:"btn btn-primary" %>
    <%= link_to "Edit Tournament Settings", edit_tournament_path(@tournament), class:"btn btn-primary" %>
    <%= link_to "Announcements", tournament_announces_path(@tournament), class:"btn btn-primary" %>
    <%= link_to "Message All Coaches", new_message_path(coaches:@tournament.coaches), class:"btn btn-primary" %>
    <%= link_to "Message All Referees", new_message_path(referees:@tournament.id), class:"btn btn-primary" %>
  <% end %>
</div>
