<!DOCTYPE html>
<html>
<head>
  <title>LeagueKit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body class="landing-body">
    <div class="container-fluid background-img">
      <div class="container-fluid cover">
        <div class="push-down"></div>
          <div class="landing-links text-center">
            <%= link_to "Login", login_path %>
            <%= link_to "New User", new_user_path%>
          </div>
      </div>
    </div>
    <footer class="text-center">
      <a href="http://www.matthewjfair.com/about">About the Designer</a> | <%= link_to "About LeagueKit", about_path %> | <a href="https://github.com/Bulldogse45/LeagueKit">SourceCode</a>
    </footer>
  </body>
  </html>
