<dic class="container-fluid">
  <div class="col-xs-12">
    <h3 class="text-center"><%= @game.name %></h3>
  </div>
  <div class="col-xs-4">
    <p class="text-right">Home Team: </p>
  </div>
  <div class="col-xs-8">
    <p><%= link_to @home_team.name, @home_team %></p>
  </div>
  <div class="col-xs-4">
    <p class="text-right">Away Team: </p>
  </div>
  <div class="col-xs-8">
    <p><%= link_to @away_team.name, @away_team %></p>
  </div>
  <div class="col-xs-4">
    <p class="text-right">Tipoff: </p>
  </div>
  <div class="col-xs-8">
    <p><%= @game.begin_time.strftime('%a %b %e, %l:%M %P ') %></p>
  </div>
  <div class="col-xs-4">
    <p class="text-right">Location: </p>
  </div>
  <div class="col-xs-8">
    <% if @game.location %>
      <%= link_to @game.location do %>
        <p><%= @game.location.name %></p>
        <p><%= @game.location.address_line_1 %></p>
        <p><%= @game.location.address_line_2 %></p>
        <p><%= "#{@game.location.city}, #{@game.location.state}  #{@game.location.zip}" %></p>
      <% end %>
    <% else %>
        <p> A location was not specified.</p>
    <% end %>
  </div>
  <div>
    <div class="col-xs-offset-4">
      <% if @game.tournament.user == current_user %>
          <%= link_to "Edit Game", edit_game_path(@game), class:"btn btn-warning" %>
          <%= link_to "Cancel Game", game_path(@game), method:'delete', class:"btn btn-danger" %>
      <% end %>
      <%= link_to "Back to Tournament", tournament_path(@game.tournament), class:"btn btn-primary" %>
    </div>
  </div>
</div>
