<div class="container body-container">
  <h1>Add Player</h1>
  <div class="all-teams-rows row">
    <% @players.each do |p| %>
      <div class="team-row row">
        <div class="col-xs-3">
          <%= link_to "#{p.last_name}, #{p.first_name}", p %></p>
        </div>
        <%= form_for @player_participant do |f| %>
          <%= f.hidden_field :player_id, value: p.id %>
          <% if @team %>
            <%= f.collection_select(:team_id ,@teams, :id, :name, {:selected => @team.id}) %>
          <% else %>
            <%= f.collection_select(:team_id ,@teams, :id, :name, {:prompt => 'Please select a Team'}) %>
          <% end %>
          <%= f.submit "Add To Team", class:"btn-sm btn-primary" %>
        <% end %>
      </div>
    <% end %>
  </div>
  </ul>
  <% unless @team %>
    <%= link_to "Create New Player", new_player_path, class:"btn btn-warning" %>
  <% end %>
</div>
