
<div class="container-fluid  body-container">
  <div class="col-lg-12">
      <h2><%= @player.full_name %>
        <small>
          <small>
            <% if @player.user == current_user %>
              <%= link_to "Edit Player", edit_player_path(@player) %>
            <% end %>
          </small>
        </small>
       </h2>
      <div class="table-responsive">
          <table class="table">
              <tbody>
                  <tr>
                    <td>
                        <% if @player.player_photo %>
                        <%= image_tag attachment_url(@player, :player_photo), class:"img-responsive center-block player-logo" %>
                      <% else %>
                        <%= image_tag("player-default.png", class:"img-responsive center-block player-logo") %>
                      <% end %>
                    </td>
                    <td>
                      <h1 class="text-center"></h1>
                      <h4>Guardian: <%= link_to @player.user.full_name, @player.user %></h4 >
                      <h4>Age: <%= @player.age %></h4 >
                    </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
        <h2>Upcoming Games</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover game-table">
                <thead>
                    <tr>
                        <th>Tournament</th>
                        <th>Home Team</th>
                        <th>Away Team</th>
                        <th>Tip Off</th>
                        <th>Location</th>
                    </tr>
                </thead>
                <tbody>
                  <% @player.games.take(5).each do |g| %>
                    <tr>
                        <td>
                          <%= link_to g do %>
                            <% if g.tournament.tournament_logo %>
                              <%= image_tag attachment_url(g.tournament, :tournament_logo), class:"img-responsive thumbnail-logo pull-left" %> <%= g.name %>
                            <% else %>
                              <%= g.name %>
                            <% end %>
                          <% end %>
                        </td>
                        <td><%= link_to g.home_team.name, g.home_team %></td>
                        <td><%= link_to g.away_team.name, g.away_team %></td>
                        <td><%= g.begin_time.strftime('%a %b %e, %l:%M %P ') %></td>
                        <% if g.location %>
                          <td><%= link_to g.location.name, g.location %></td>
                        <% else %>
                          <td>Not Listed</td>
                        <% end %>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-6">
        <h2>Teams</h2>
        <div class="table-responsive">
            <table class="table table-bordered table-hover team-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Coach</th>
                    </tr>
                </thead>
                <tbody>
                  <% @teams.each do |t| %>
                    <tr>
                        <td>
                          <%= link_to t do %>
                            <% if t.team_logo %>
                              <%= image_tag attachment_url(t, :team_logo), class:"img-responsive thumbnail-logo pull-left" %> <%= t.name %>
                            <% else %>
                              <%= t.name %>
                            <% end %>
                          <% end %>
                        </td>
                        <td><%= link_to t.user.full_name, t.user %></td>
                    </tr>
                    <% end %>
                    <tr>
                      <td><%= link_to "Search for Team to Join", search_all_teams_path(player_id:@player.id) %> </td>
                      <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
  <div class="col-lg-6">
      <h2>Tournaments</h2>
      <div class="table-responsive">
          <table class="table table-bordered table-hover tournament-table">
              <thead>
                  <tr>
                      <th>Tournament</th>
                      <th>Director</th>
                      <th>Start Time</th>
                  </tr>
              </thead>
              <tbody>
                <% @tournament_teams.each do |t| %>
                  <tr>
                      <td>
                        <%= link_to t.tournament do %>
                          <% if t.tournament.tournament_logo %>
                            <%= image_tag attachment_url(t.tournament, :tournament_logo), class:"img-responsive thumbnail-logo pull-left" %> <%= t.name %>
                          <% else %>
                            <%= t.tournament.name %>
                          <% end %>
                        <% end %>
                      </td>
                      <td><%= link_to t.tournament.user.full_name, t.user %></td>
                      <td><%= t.tournament.start_time.strftime('%a %b %e, %l:%M %P ') %></td>
                  </tr>
                  <% end %>
              </tbody>
          </table>
      </div>
  </div>



</div>
