<!DOCTYPE html>
<html>
<head>
  <title>LeagueKit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <div class="navbar">
      <% if current_user_session %>
        <%= link_to "Logout", user_session_path(current_user_session), :method => :delete, :confirm => "Are you sure you want to logout?", class:"btn btn-primary" %>
        <%= link_to "New Player", new_player_path, class:"btn btn-primary" %>
        <%= link_to "My Players", players_path, class:"btn btn-primary" %>
        <%= link_to "New Team", new_team_path, class:"btn btn-primary" %>
        <%= link_to "My Teams", teams_path, class:"btn btn-primary" %>
        <%= link_to "New Tournament", new_tournament_path, class:"btn btn-primary" %>
        <%= link_to "My Tournaments", tournaments_path, class:"btn btn-primary" %>
        <%= link_to "New League", new_league_path, class:"btn btn-primary" %>
        <%= link_to "My Leagues", leagues_path, class:"btn btn-primary" %>
      <% else %>
        <%= link_to "New User", new_user_path, class:"btn btn-primary" %>
        <%= link_to "Login", new_user_session_path, class:"btn btn-primary" %>
      <% end %>

    </div>
    <% if flash[:notice] %>
      <div class="notice col-xs-12"><%= flash[:notice] %></div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
