<!DOCTYPE html>
<html>
<head>
  <title>LeagueKit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <div class="header jumbotron">
      <div class="navbar">
        <%= link_to "Home", root_path, class:"btn btn-primary" %>
        <% if current_user_session %>
          <%= link_to "Logout", user_session_path(current_user_session), :method => :delete, :confirm => "Are you sure you want to logout?", class:"btn btn-primary pull-right" %>
          <%= link_to "User Options", user_path(current_user), class:"btn btn-primary pull-right" %>
        <% else %>
          <%= link_to "New User", new_user_path, class:"btn btn-primary pull-right" %>
          <%= link_to "Login", new_user_session_path, class:"btn btn-primary pull-right" %>
        <% end %>
      </div>
    </div>
    <% if flash[:notice] %>
      <div class="notice col-xs-12"><%= flash[:notice] %></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert col-xs-12"><%= flash[:alert] %></div>
    <% end %>
    <div class="container-fluid body-container">
      <%= yield %>
    </div>
    <div class="footer">
      <p class="text-center">Test | Test | Test</p>
    </div>
  </div>
</body>
</html>
