<!DOCTYPE html>
<html>
<head>
  <title>LeagueKit</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
  <body>

      <div id="wrapper">

          <!-- Navigation -->
          <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <div class="text-logo">
                    <%= link_to root_url do %>
                      <%= image_tag("icon.png", class:"top-logo" )  %> League Kit
                    <% end %>
                  </div>
              </div>
              <!-- Top Menu Items -->
              <% if current_user_session %>
                <ul class="nav navbar-right top-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"> <%= current_user.message_reads.where("read = 'false'").count %></i> <b class="caret"></b></a>
                        <ul class="dropdown-menu message-dropdown">

                          <li class="message-footer">
                              <%= link_to "New Message", new_message_path %>
                          </li>
                          <li class="message-footer">
                              <%= link_to "Inbox", messages_path %>
                          </li>
                          <li class="message-footer">
                              <%= link_to "Sent Messages", messages_sent_path %>
                          </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <%= current_user.full_name %> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                              <%= link_to user_path(current_user) do %>
                                <i class="fa fa-fw fa-user"></i> Profile
                              <% end %>
                            </li>
                            <li>
                              <%= link_to edit_user_path(current_user) do %>
                                <i class="fa fa-fw fa-gear"></i> Settings
                              <% end %>
                            </li>
                            <li class="divider"></li>
                            <li>
                              <%= link_to logout_path do %>
                                <i class="fa fa-fw fa-power-off"></i> Log Out</a>
                              <% end %>
                            </li>
                        </ul>
                    </li>
                </ul>
              <% end %>

              <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
              <% if current_user_session %>
              <div class="collapse navbar-collapse navbar-ex1-collapse">
                  <ul class="nav navbar-nav side-nav">
                      <li>
                          <a href="javascript:;" data-toggle="collapse" data-target="#players"> Guardian <i class="fa fa-fw fa-caret-down"></i></a>
                          <ul id="players" class="collapse">
                            <% @my_players.each do |p| %>
                              <li>
                                  <%= link_to "#{p.full_name}", p %>
                              </li>
                            <% end %>
                            <li>
                                <%= link_to "New Player", new_player_path %>
                            </li>
                          </ul>
                      </li>
                      <li>
                          <a href="javascript:;" data-toggle="collapse" data-target="#teams"> Coach <i class="fa fa-fw fa-caret-down"></i></a>
                          <ul id="teams" class="collapse">
                            <% @my_teams.each do |t| %>
                              <li>
                                  <%= link_to t.name, t %>
                              </li>
                            <% end %>
                            <li>
                                <%= link_to "Create New Team", new_team_path %>
                            </li>
                          </ul>
                      </li>
                      <% if current_user.leagues.length > 0 %>
                        <li>
                            <a href="javascript:;" data-toggle="collapse" data-target="#tournaments"> Tourn Dir <i class="fa fa-fw fa-caret-down"></i></a>
                            <ul id="tournaments" class="collapse">
                              <% @my_tournaments.each do |t| %>
                                <li>
                                    <%= link_to t.name, t %>
                                </li>
                              <% end %>
                              <li>
                                  <%= link_to "Create New Tournament", new_tournament_path %>
                              </li>
                            </ul>
                        </li>
                      <% end %>
                      <li>
                          <a href="javascript:;" data-toggle="collapse" data-target="#leagues"></i> League Dir <i class="fa fa-fw fa-caret-down"></i></a>
                          <ul id="leagues" class="collapse">
                            <% unless @my_leagues.empty?  %>
                                <% @my_leagues.each do |l| %>
                                  <li>
                                      <%= link_to l.name, l %>
                                  </li>
                                <% end %>
                            <% end %>
                            <li>
                                <%= link_to "Create New League", new_league_path %>
                            </li>
                          </ul>
                      </li>
                      <!-- <li>
                          <#%= link_to volunteer_path do %>
                            <i class="fa fa-fw fa-star"></i> Referees
                          <#% end %>
                      </li> -->
                  </ul>
              </div>
              <% end %>
              <!-- /.navbar-collapse -->
          </nav>

          <div id="page-wrapper" class="page-wrapper-lk">

              <div class="container-fluid">
                <% flash.each do |key, value| %>
                  <div class="col-xs-12 alert alert-<%= key %>"><%= flash.now[key.to_sym] %></div>
                <% end %>
                <%= yield %>
                  <!-- Page Heading -->
                                    <!-- /.row -->

              </div>
              <!-- /.container-fluid -->

          </div>
          <!-- /#page-wrapper -->

      </div>

      <!-- /#wrapper -->

      <!-- jQuery -->
      <script src="js/jquery.js"></script>

      <!-- Bootstrap Core JavaScript -->
      <script src="js/bootstrap.min.js"></script>

      <!-- Morris Charts JavaScript -->

  </body>


</html>
